.kang_about__container {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px
    rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 150px;
    width: 100%;
    max-width: 400px;
    font-weight: 300;
}

.about__cibtauber span:first-child {
    font-size: 20px;
}

@-webkit-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}
@keyframes blink{
0% {opacity:0;}
100% {opacity:1;}
}

.about__container2 {
    display: block;
    margin-top: 10px;
    -webkit-animation:blink 1.5s ease-in-out infinite alternate;
-moz-animation:blink 1.5s ease-in-out infinite alternate;
animation:blink 1.5s ease-in-out infinite alternate;
}

.about__Lizard {
    color: rgb(51, 184, 207);
    transition: 1s;
    text-shadow: 0 0 .1em, 0 0 .3em;
   }

   .wrap {text-align: center; margin-top: 20px;}
.chatbox {animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;}
        
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}

.kang_about__container img {
    position: relative;
    top: 0px;
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px
    -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }

  .kang_about__container span:last-child {
    display: block;
    margin-top: 10px;
}