.Detail--html {
    font-size: 15px;
}

.Detail--html {
    display: block;
    margin-top: 10px;
}

.Detail--html {
    z-index: 1;
    position: fixed;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 7px 16px -8px
    rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 5px;
        position: fixed;
        top: 10;
        margin-top: 80px;
    }

.Detail--html img {
    position: relative;
    max-width: 190px;
    width: 170%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px
    -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.Detail--html a {
    text-decoration: none;
    color: #00FFEE;
}

.jangdotype img {
    max-width: 10px;
}