* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 8px;
  width: 1500px;
  height: 700px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open sans', 'Helvetica Neue', sans-serif;
  Position: relative;
  z-index: 1;
  opacity: 1;
}

body::after {
  background: url(https://lh3.googleusercontent.com/KLnk8gEVPMWo52ngZl_z3nsvPUGpKeLUGLMCT8eOqbyo7wQJLypxKNitRhNIUicAqaQMB8_1IQWSzQQK8if5nC-YV3pGFbbqECbHaIg9bguyLFfNjm5ibq4NNQcEzugiHRC3bTcL=w2400);
  content: "";
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: 1200px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}